# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTFUL_SPACE_ID="m407yn73b389"
CONTENTFUL_ACCESS_TOKEN="lOX6TbqZX5B7u9VWD3X37SCkKoI3Zy6cuuoiQBNlo7Q"
